
    <style>
        .paragraph p, .paragraph li, p, p span{
            font-family: 'Varela Round', sans-serif;font-size: 16px;line-height: 160%;margin: 0;color: #333 !important;margin-bottom: 20px;
        }
        li{
            font-family: 'Varela Round', sans-serif;font-size: 16px;line-height: 160%;margin: 0;color: #333;
        }
        ul, ol{
            padding-left:1rem !important;
        }
    </style>

    <table style="background: #f2f2f2" width="100%">
    <tr class="table-row" style="display: block;margin: 20px auto;">
        <td width="600px" style="font-family: 'Varela Round', sans-serif;font-size: 14px;display: block;margin: 0 auto;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" class="container-mail block" style="background: white;overflow: hidden;border-radius: 8px;display: block;width: 100%;">
                <tr class="header p-4" style="background-color: rgb(255, 92, 0);">
                    <td class="padding-20 header-top" style="font-family: 'Varela Round', sans-serif;font-size: 14px;padding: 20px;display: block;margin: 0 auto;">
                        <a href="https://flashcampus.framer.website"><img src="https://i.ibb.co/1JDnStd/fc-logo-white.png" alt="" border="0" height="28px" width="auto"></a>
                        <h2 style="color: white;font-style: italic;font-size: 24px;display: block;float: right;font-family: 'Overpass', sans-serif;margin: 0;font-weight: bold;">
                            Edisi 004
                        </h2>
                    </td>
                </tr>
                <tr class="body"></tr>

                <tr class="body-content">
                    <td class="padding-20" style="font-family: 'Varela Round', sans-serif;font-size: 14px;padding: 20px;display: block;margin: 0 auto;">
                        <p style="font-family: 'Varela Round', sans-serif;font-size: 16px;line-height: 160%;margin: 0;color: #333;">Hi {{nama}}! 😆</p>
                        <br>
                        <p class="paragraph">
                            <p><span style="color: rgb(0, 0, 0);">Penasaran caranya kerja di J.P. Morgan? Atau masih bingung cara memaksimalkan perkuliahan kamu? Pada&nbsp;</span><strong style="color: rgb(0, 0, 0);">edisi ketiga</strong><span style="color: rgb(0, 0, 0);">&nbsp;ini, tim FlashCampus mewawancarai Haikal Pramono (CEO &amp; Founder AjakGerak) dan Cita Amalia Husna (Summer Analyst di J.P. Morgan Chase &amp; Co.), hanya untuk kamu yang ingin berkembang setiap harinya. Selain itu, kamu juga akan menemukan konten pilihan di segmen&nbsp;</span><strong style="color: rgb(0, 0, 0);">Konten Camilan</strong><span style="color: rgb(0, 0, 0);">&nbsp;dan kesempatan untuk mengikuti organisasi, lomba, magang, dan mendapatkan beasiswa di segmen&nbsp;</span><strong style="color: rgb(0, 0, 0);">Mading Kampus</strong><span style="color: rgb(0, 0, 0);">. Selamat membaca!</span></p>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr class="table-row" style="display: block;margin: 20px auto;">
        <td width="600px" style="font-family: 'Varela Round', sans-serif;font-size: 14px;display: block;margin: 0 auto;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" class="container-mail block padding-20" style="background: white;overflow: hidden;border-radius: 8px;padding: 20px;display: block;width: 100%;">
                <tr>
                    <td class="content-header" style="font-family: 'Varela Round', sans-serif;font-size: 14px;padding-bottom: 20px;border-bottom: 1px solid #cccccc;display: block;margin: 0 auto;">☕ Ngopi Bareng</td>
                </tr>
                <tr>
                    <td class="ngopi-bareng-content" style="font-family: 'Varela Round', sans-serif;font-size: 14px;padding-top: 20px;display: block;margin: 0 auto;">
                        <h1 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 24px;font-weight: bold;">Memaksimalkan perkuliahan melalui gerakan positif</h1>
                        <img class="hero-img" src="https://i.ibb.co/v4ckY0f/ngopi-bareng-4.png" alt="hero image" style="width: 100%;margin: 16px auto;display: block;">

                        <p style="font-family: 'Varela Round', sans-serif;font-size: 16px;line-height: 160%;margin: 0;color: #333;margin-bottom: 20px;">
                            <p><span style="color: rgb(0, 0, 0);">Haikal Pramono adalah mahasiswa ITS 2019 yang kini sedang membangun AjakGerak, sebuah platform berbasis media dan komunitas yang membantu pelajar Indonesia berkembang. Dampak yang telah diberikan AjakGerak ternyata memiliki kisah inspiratif di balik kemunculannya. Penasaran dengan kisahnya? Yuk, cari tahu pandangan Kak Haikal!</span></p>
                        </p>

                        
        <h2 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 20px;font-weight: bold;margin-bottom: 16px;">
            👩‍🏫 Boleh dijelaskan apa itu AjakGerak?        
        </h2>
        <p style="font-family: 'Varela Round', sans-serif;font-size: 16px;line-height: 160%;margin: 0;color: #333;margin-bottom: 20px;">
            <p><span style="color: rgb(0, 0, 0);">Sekarang AjakGerak disebut “AjakGerak Learning Ecosystem” yang meliputi AjakBelajar, AjakJago, dan AjakGerak Media. Yang biasa dilihat adalah AjakGerak Media, di mana kami membuat konten&nbsp;</span><em style="color: rgb(0, 0, 0);">relatable</em><span style="color: rgb(0, 0, 0);">&nbsp;untuk menyebarkan pengaruh positif kepada audiens. Kami pun memiliki dua bentuk organisasi, yakni yayasan untuk AjakBelajar dan perusahaan untuk AjakJago serta AjakGerak.</span></p>        
        </p>        
        
        <h2 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 20px;font-weight: bold;margin-bottom: 16px;">
            🚀 Apa yang mendorong awal kemunculan AjakGerak?        
        </h2>
        <p style="font-family: 'Varela Round', sans-serif;font-size: 16px;line-height: 160%;margin: 0;color: #333;margin-bottom: 20px;">
            <p><span style="color: rgb(0, 0, 0);">Berawal pada awal pandemi, tepatnya 22 Maret 2020, kampus ITS diliburkan dan aku berinisiatif membuat kampanye melalui Twibbon untuk mengajak orang-orang melakukan hal positif di rumah. Ide tersebut gak berjalan begitu lancar, tapi momentum berikutnya datang ketika Arul, seorang anak nelayan dari Gresik, yang terus menghubungiku untuk meminta soal latihan UTBK. Dari situ, aku menghubungi teman-teman SMA-ku untuk mengajar hingga terbentuklah AjakBelajar.&nbsp;</span></p>        
        </p>        
        
        <h2 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 20px;font-weight: bold;margin-bottom: 16px;">
            🧑‍🎓 Menurut Kak Haikal, apa hal yang berbeda di masa perkuliahan dibandingkan masa SMA?        
        </h2>
        <p style="font-family: 'Varela Round', sans-serif;font-size: 16px;line-height: 160%;margin: 0;color: #333;margin-bottom: 20px;">
            <p><span style="color: rgb(0, 0, 0);">Pada saat SMA, segala hal sudah ditentukan jalan-jalannya. Jalan menuju “sukses” versi SMA sudah gamblang dan dapat diikuti alurnya. Namun, perkuliahan sangat berbeda. Tidak ada yang namanya standardisasi kesuksesan. Setiap orang bisa memiliki definisi suksesnya masing-masing sehingga jalan yang ditempuh pun sangat beragam. Selain itu, bagiku, kuliah adalah tempat yang lebih mendukung untuk mengenal diri sendiri.&nbsp;</span></p>        
        </p>        
        
        <h2 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 20px;font-weight: bold;margin-bottom: 16px;">
            🏫 Apakah almamater berpengaruh terhadap peluang untuk sukses? Bagaimana cara memaksimalkannya?        
        </h2>
        <p style="font-family: 'Varela Round', sans-serif;font-size: 16px;line-height: 160%;margin: 0;color: #333;margin-bottom: 20px;">
            <p><span style="color: rgb(0, 0, 0);">Jika kita melihat jajaran menteri-menteri kita, 60-70% dari mereka tidak berasal dari kampus top 3 Indonesia. Menurutku, dari sisi informal, aku melihat almamater tidak berpengaruh secara signifikan. Almamater semata-mata hanyalah kunci untuk memperluas networking kita. Namun, jalur untuk networking tidak terbatas di kampus. Sangat banyak pintu lain yang dapat kamu jelajahi untuk mendapatkan networking yang lebih berkualitas. Di sisi lain, secara formal, untuk mendaftar kerja misalnya, aku berpikir almamater tetap memiliki pengaruh.&nbsp;</span></p>        
        </p>        
        
        <h2 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 20px;font-weight: bold;margin-bottom: 16px;">
            🤯 Bagaimana menurut Kak Haikal terhadap gap pengetahuan yang dialami mahasiswa-mahasiswa baru?        
        </h2>
        <p style="font-family: 'Varela Round', sans-serif;font-size: 16px;line-height: 160%;margin: 0;color: #333;margin-bottom: 20px;">
            <p><span style="color: rgb(0, 0, 0);">Aku melihat calon mahasiswa memiliki ketakutan berlebih yang disebabkan oleh UTBK. Ketakutan untuk tidak bisa menjadi mahasiswa menutupi kemauan mereka untuk mengeksplor lebih jauh tentang apa saja yang akan dilakukan mahasiswa semasa kuliah. Saranku, taruh impianmu sebelum ketakutanmu. Jadi, kamu bisa mengeksplor terlebih dahulu impianmu itu untuk mendapatkan informasi yang kamu butuhkan.</span></p>        
        </p>        
        
        <h2 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 20px;font-weight: bold;margin-bottom: 16px;">
            🤔 Apa yang Kak Haikal harap tahu lebih awal ketika menginjak tahun-tahun pertama perkuliahan?        
        </h2>
        <p style="font-family: 'Varela Round', sans-serif;font-size: 16px;line-height: 160%;margin: 0;color: #333;margin-bottom: 20px;">
            <p><span style="color: rgb(0, 0, 0);">Aku ingin memaksimalkan luasnya peluang yang dimiliki seorang mahasiswa. Di kampus, sangat banyak organisasi dan aktivitas lain yang sangat bermanfaat. Apalagi, mengingat status mahasiswa sebagai pelajar</span><em style="color: rgb(0, 0, 0);">,&nbsp;</em><span style="color: rgb(0, 0, 0);">mahasiswa lebih dimaklumi jika berbuat salah. Berbeda jika sudah bekerja, satu kesalahan bisa berdampak secara nyata ke perusahaan tempat kita bekerja.</span></p>        
        </p>        
        
        <h2 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 20px;font-weight: bold;margin-bottom: 16px;">
            💯 Bagi mereka yang ingin aktif berorganisasi, apa tips Kak Haikal dalam memilih organisasi yang tepat?        
        </h2>
        <p style="font-family: 'Varela Round', sans-serif;font-size: 16px;line-height: 160%;margin: 0;color: #333;margin-bottom: 20px;">
            <p><span style="color: rgb(0, 0, 0);">Cari tahu&nbsp;</span><em style="color: rgb(0, 0, 0);">strong why</em><span style="color: rgb(0, 0, 0);">-mu. Apa yang kamu ingin dapatkan dari mengikuti organisasi? Aku sendiri membagi menjadi 2: manfaat materiil dan imateriil. Manfaat materiil dapat berupa uang,&nbsp;</span><em style="color: rgb(0, 0, 0);">networking,&nbsp;</em><span style="color: rgb(0, 0, 0);">skill, dan bantuan karier, sedangkan manfaat imateriil berupa hal-hal dapat membuatku nyaman, seperti pekerjaan yang selaras dengan keinginanku. Selain itu, pahami juga hak dan kewajibanmu sebagai anggota organisasi. Jika hakmu tidak kamu dapatkan, kamu berhak menuntut hakmu ataupun keluar dari organisasi tersebut.</span></p>        
        </p>        
        
        <h2 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 20px;font-weight: bold;margin-bottom: 16px;">
            💫 Bagaimana komunitas dapat membantu para mahasiswa di awal masa perkuliahan?        
        </h2>
        <p style="font-family: 'Varela Round', sans-serif;font-size: 16px;line-height: 160%;margin: 0;color: #333;margin-bottom: 20px;">
            <p><span style="color: rgb(0, 0, 0);">Aku mengartikan komunitas sebagai organisasi nonkonvensional (BEM/himpunan mahasiswa) yang bisa bersifat internal ataupun eksternal. Dengan mengikuti komunitas, kamu sudah dipastikan keluar dari zona nyaman. Itu adalah manfaat pertama. Selain itu, kamu juga bisa menyalurkan passionmu dengan mengikuti organisasi tertentu. Terakhir dan yang paling penting, kamu akan terus merasa “tidak nyaman” karena bertemu dengan orang yang jauh lebih berpengalaman dan memberikan dorongan kepada dirimu untuk terus mengembangkan dirimu.</span></p>        
        </p>        
        
        <h2 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 20px;font-weight: bold;margin-bottom: 16px;">
            💌 Apa pesan Kak Haikal untuk mahasiswa Indonesia agar dapat memaksimalkan masa perkuliahannya?        
        </h2>
        <p style="font-family: 'Varela Round', sans-serif;font-size: 16px;line-height: 160%;margin: 0;color: rgb(0, 0, 0);margin-bottom: 20px;">
            <ol><li>Bermimpilah agar kamu tidak berujung mewujudkan mimpi orang lain. Bermimpilah sekecil atau sebesar apa pun mimpimu.</li><li>Lakukan yang terbaik dan sisanya akan mengikuti. Hasil dari usahamu mungkin tidak akan terlihat secara langsung. Namun, jika kamu memberi yang terbaik, kamu akan mendapatkan hasil dari pintu yang kamu tidak duga-duga.</li><li>Salah itu tidak salah. Jangan takut berbuat salah, karena pada ujungnya, kesalahanmu justru akan mengantarkanmu ke kebenaran yang tidak akan kamu dapatkan tanpa melakukan kesalahan tersebut.</li></ol>        
        </p>        
        

                        
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr class="table-row" style="display: block;margin: 20px auto;">
        <td width="600px" style="font-family: 'Varela Round', sans-serif;font-size: 14px;display: block;margin: 0 auto;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" class="container-mail block padding-20" style="background: white;overflow: hidden;border-radius: 8px;padding: 20px;display: block;width: 100%;">
                <tr>
                    <td class="content-header" style="font-family: 'Varela Round', sans-serif;font-size: 14px;padding-bottom: 20px;border-bottom: 1px solid #cccccc;display: block;margin: 0 auto;">💼 Tanya Karier</td>
                </tr>
                <tr>
                    <td class="ngopi-bareng-content" style="font-family: 'Varela Round', sans-serif;font-size: 14px;padding-top: 20px;display: block;margin: 0 auto;">
                        <h1 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 24px;font-weight: bold;">Cita Amalia Husna - Summer Analyst, J.P. Morgan Chase & Co.</h1>
                        <img class="hero-img" src="https://i.ibb.co/2SQqBp1/tanya-karier-4.png" alt="hero image" style="width: 100%;margin: 16px auto;display: block;">

                        
        <h2 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 20px;font-weight: bold;margin-bottom: 16px;">
            💼 Apa yang membuat kamu tertarik untuk bekerja di perusahaan dan posisimu saat ini?        
        </h2>
        <p style="font-family: 'Varela Round', sans-serif;font-size: 16px;line-height: 160%;margin: 0;color: #333;margin-bottom: 20px;">
            <p><span style="color: rgb(0, 0, 0);">JP Morgan adalah bank investasi terbesar di dunia. Tentu, namanya saja sudah menarik. Selain itu, aku pun sudah ingin kerja di sini sejak awal kuliah.</span></p>        
        </p>        
        
        <h2 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 20px;font-weight: bold;margin-bottom: 16px;">
            👣 Bagaimana kamu sampai ke posisi ini?        
        </h2>
        <p style="font-family: 'Varela Round', sans-serif;font-size: 16px;line-height: 160%;margin: 0;color: #333;margin-bottom: 20px;">
            <p><span style="color: rgb(0, 0, 0);">Aku mendapatkan informasi di LinkedIn pada bulan September 2021. Karena kriterianya cocok, aku mulai mendaftar dan melewati serangkaian seleksi, seperti&nbsp;</span><em style="color: rgb(0, 0, 0);">interview&nbsp;</em><span style="color: rgb(0, 0, 0);">terekam hingga&nbsp;</span><em style="color: rgb(0, 0, 0);">group case interview.</em><span style="color: rgb(0, 0, 0);">&nbsp;Seluruh prosesnya mengambil waktu sekitar 5 bulan dan hanya 6 yang diterima dari ~900 pendaftar.</span></p>        
        </p>        
        
        <h2 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 20px;font-weight: bold;margin-bottom: 16px;">
            🤺 Apa skill yang diperlukan untuk dapat bekerja di posisi kamu saat ini?        
        </h2>
        <p style="font-family: 'Varela Round', sans-serif;font-size: 16px;line-height: 160%;margin: 0;color: #333;margin-bottom: 20px;">
            <p>Ada dua, skill Excel dan komunikasi. Sangat penting untuk menguasai Excel, seperti membuat&nbsp;<em>pivot table</em>, menggunakan rumus VLOOKUP, dan lainnya. Skill komunikasi pun diperlukan untuk membangun hubungan baik dengan kolega atau klien agar tidak terjadi miskomunikasi.</p>        
        </p>        
        
        <h2 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 20px;font-weight: bold;margin-bottom: 16px;">
            ⚒️ Apa saja yang kamu kerjakan dalam pekerjaan ini?        
        </h2>
        <p style="font-family: 'Varela Round', sans-serif;font-size: 16px;line-height: 160%;margin: 0;color: #333;margin-bottom: 20px;">
            <p>Aku bekerja sebagai analis di Departemen Currencies and Emerging Operations, di mana aku bertugas untuk menganalisis aktivitas di pasar valuta asing.</p>        
        </p>        
        
        <h2 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 20px;font-weight: bold;margin-bottom: 16px;">
            👀 Apa saja prospek karir yang dapat dikembangkan dari pekerjaan ini?        
        </h2>
        <p style="font-family: 'Varela Round', sans-serif;font-size: 16px;line-height: 160%;margin: 0;color: #333;margin-bottom: 20px;">
            <p><span style="color: rgb(0, 0, 0);">Pekerjaan ini membuka kesempatan yang sangat luas. Aku bisa melanjutkan bekerja sebagai&nbsp;</span><em style="color: rgb(0, 0, 0);">investment banker.&nbsp;</em><span style="color: rgb(0, 0, 0);">Selain itu, aku juga bisa pindah ke dunia trading, dan lainnya.&nbsp;</span></p>        
        </p>        
        
        <h2 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 20px;font-weight: bold;margin-bottom: 16px;">
            🔍 Apa fun fact yang tidak banyak orang ketahui dari pekerjaan ini?        
        </h2>
        <p style="font-family: 'Varela Round', sans-serif;font-size: 16px;line-height: 160%;margin: 0;color: #333;margin-bottom: 20px;">
            <p><span style="color: rgb(0, 0, 0);">Total pekerja di JP Morgan Jakarta hanya ~200, dan ini terbilang sedikit. Karena itu, aku bisa menghubungi senior atau bahkan&nbsp;</span><em style="color: rgb(0, 0, 0);">country manager</em><span style="color: rgb(0, 0, 0);">-ku untuk berdiskusi secara mudah.</span></p>        
        </p>        
        
        <h2 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 20px;font-weight: bold;margin-bottom: 16px;">
            💪 Apa pesan kamu untuk orang-orang yang ingin bekerja sepertimu suatu saat nanti?        
        </h2>
        <p style="font-family: 'Varela Round', sans-serif;font-size: 16px;line-height: 160%;margin: 0;color: #333;margin-bottom: 20px;">
            <p><span style="color: rgb(0, 0, 0);">Mulai&nbsp;</span><em style="color: rgb(0, 0, 0);">pantengin</em><span style="color: rgb(0, 0, 0);">&nbsp;LinkedIn, khususnya sekitar bulan September—Oktober, karena posisi ini dibuka setiap bulan tersebut. Nama dari program kegiatannya adalah Asia Analyst Development Program. Mulai sesuaikan dirimu dengan ketentuannya. Terakhir, jangan lupa berdoa, ya!</span></p>        
        </p>        
        
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr class="table-row" style="display: block;margin: 20px auto;">
        <td width="600px" style="font-family: 'Varela Round', sans-serif;font-size: 14px;display: block;margin: 0 auto;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" class="container-mail block padding-20" style="background: white;overflow: hidden;border-radius: 8px;padding: 20px;display: block;width: 100%;">
                <tbody width="100%" style="width: 100% !important;display: block !important;">
                    <tr class="content-header" style="width: 100%;display: block;padding-bottom: 20px;border-bottom: 1px solid #cccccc;">
                        <td style="font-family: 'Varela Round', sans-serif;font-size: 14px;display: block;margin: 0 auto;">🖼️ Konten Camilan</td>
                    </tr>
                    <tr class="mt-20" style="display: block;width: 100%;margin-top: 20px;">
                        <td style="display: block;width: 100%;font-family: 'Varela Round', sans-serif;font-size: 14px;margin: 0 auto;" class="konten-camilan">
                            
        <a ses:tags='konten_camilan:perkenalan_kehidupan_kampus' href="https://open.spotify.com/episode/3i560sXkQOAAir6mCPyB13?si=PDfTvrhKQmC0csHivjCoIw&utm_source=copy-link" class="camilan mading-item" style="text-decoration: none;border: 1px solid #ccc;border-radius: 8px;color: black;display: block;padding: 12px;margin-bottom: 16px;position: relative;">
            <p class="platform" style="font-family: 'Varela Round', sans-serif;font-size: 12px;line-height: 160%;margin: 0;color: #666;padding-bottom: 8px">
            Podcast
            </p>
            <h3 class="title" style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 16px;font-weight: bold;">
            Perkenalan Kehidupan Kampus
            </h3>
            <p class="author" style="font-family: 'Varela Round', sans-serif;font-size: 12px;line-height: 160%;margin: 0;color: #666;padding-top: 8px">
            Manajemen Podcast
            </p>
        </a>        
        
        <a ses:tags='konten_camilan:apakah_almamater_universitas_itu_penting/berpengaruh_saat_cari_kerja?' href="https://rencanamu.id/tanya-rencanamu/apakah-almamater-universitas-itu-pentingberpengaruh-saat-cari-kerja" class="camilan mading-item" style="text-decoration: none;border: 1px solid #ccc;border-radius: 8px;color: black;display: block;padding: 12px;margin-bottom: 16px;position: relative;">
            <p class="platform" style="font-family: 'Varela Round', sans-serif;font-size: 12px;line-height: 160%;margin: 0;color: #666;padding-bottom: 8px">
            Blog
            </p>
            <h3 class="title" style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 16px;font-weight: bold;">
            Apakah almamater universitas itu penting/berpengaruh saat cari kerja?
            </h3>
            <p class="author" style="font-family: 'Varela Round', sans-serif;font-size: 12px;line-height: 160%;margin: 0;color: #666;padding-top: 8px">
            Rencanamu
            </p>
        </a>        
        
        <a ses:tags='konten_camilan:pelajari_3_hal_ini_sebelum_ikut_organisasi_kampus_-_#bukansekolah' href="https://www.youtube.com/watch?v=vq_yXhiOlrI" class="camilan mading-item" style="text-decoration: none;border: 1px solid #ccc;border-radius: 8px;color: black;display: block;padding: 12px;margin-bottom: 16px;position: relative;">
            <p class="platform" style="font-family: 'Varela Round', sans-serif;font-size: 12px;line-height: 160%;margin: 0;color: #666;padding-bottom: 8px">
            Video
            </p>
            <h3 class="title" style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 16px;font-weight: bold;">
            Pelajari 3 Hal Ini Sebelum Ikut Organisasi Kampus - #BukanSekolah
            </h3>
            <p class="author" style="font-family: 'Varela Round', sans-serif;font-size: 12px;line-height: 160%;margin: 0;color: #666;padding-top: 8px">
            Eno Bening
            </p>
        </a>   
        
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>    

    <tr class="table-row" style="display: block;margin: 20px auto;">
        <td width="600px" style="font-family: 'Varela Round', sans-serif;font-size: 14px;display: block;margin: 0 auto;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" class="container-mail block padding-20" style="background: white;overflow: hidden;border-radius: 8px;padding: 20px;display: block;width: 100%;">
                <tbody width="100%" style="width: 100% !important;display: block !important;">
                    <tr style="display:block">
                        <td class="content-header" style="font-family: 'Varela Round', sans-serif;font-size: 14px;padding-bottom: 20px;border-bottom: 1px solid #cccccc;display: block;margin: 0 auto;">📰 Mading Kampus</td>
                    </tr>
                    <tr style="display:block">
                        <td class="konten-camilan" style="font-family: 'Varela Round', sans-serif;font-size: 14px;padding-top: 20px;width: 100%;display: block;margin: 0 auto;">
                            <h1 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 24px;font-weight: bold;margin-bottom: 8px;">Magang</h1>
                                
        <a ses:tags='jenis:magang;nama:graphic_designer_intern;organization:campaign.com;' href="https://www.linkedin.com/jobs/view/3146088356/?alternateChannel=search&refId=0xruCfHq5vSRbtp5b3VsLg%3D%3D&trackingId=cxEaTJ6Yy8kVpGrq%2BsfvtQ%3D%3D" class="mading-item" style="text-decoration: none;border: 1px solid #ccc;border-radius: 8px;display: block;padding: 12px;margin-bottom: 16px;position: relative;">
            <div class="mading-logo" style="display: inline-block;position: relative;vertical-align: top;height: 32px;width: 32px;border-radius: 8px;overflow: hidden;margin-right: 8px;margin-top: 6px;">
                <img src="https://i.ibb.co/Y7h8m8Z/logo-campaign.webp" alt="company-logo" style="width: 32px;vertical-align: middle;position:absolute;top:50%;transform: translateY(-50%);">
            </div>
            <div class="text" style="max-width: 70%;display: inline-block;">
                <h3 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 16px;font-weight: bold;color: #000;">Graphic Designer Intern</h3>
                <p class="author" style="font-family: 'Varela Round', sans-serif;font-size: 14px;line-height: 160%;margin: 0;color: #666;margin-top: 6px;">Campaign.com •  Jakarta (WFH)</p>
            </div>
        </a>        
        
        <a ses:tags='jenis:magang;nama:hrbp_internship;organization:bibit;' href="https://www.linkedin.com/jobs/view/3120681484/?alternateChannel=search&refId=0xruCfHq5vSRbtp5b3VsLg%3D%3D&trackingId=cq7etNzO%2BcrUcpLGIF1D2w%3D%3D" class="mading-item" style="text-decoration: none;border: 1px solid #ccc;border-radius: 8px;display: block;padding: 12px;margin-bottom: 16px;position: relative;">
            <div class="mading-logo" style="display: inline-block;position: relative;vertical-align: top;height: 32px;width: 32px;border-radius: 8px;overflow: hidden;margin-right: 8px;margin-top: 6px;">
                <img src="https://i.ibb.co/kKmCT8Q/bibit.png" alt="company-logo" style="width: 32px;vertical-align: middle;position:absolute;top:50%;transform: translateY(-50%);">
            </div>
            <div class="text" style="max-width: 70%;display: inline-block;">
                <h3 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 16px;font-weight: bold;color: #000;">HRBP Internship</h3>
                <p class="author" style="font-family: 'Varela Round', sans-serif;font-size: 14px;line-height: 160%;margin: 0;color: #666;margin-top: 6px;">Bibit •  Jakarta (WFH)</p>
            </div>
        </a>        
        
        <a ses:tags='jenis:magang;nama:software_engineer_intern;organization:sirclo;' href="https://www.linkedin.com/jobs/view/3147013085/?alternateChannel=search&refId=0xruCfHq5vSRbtp5b3VsLg%3D%3D&trackingId=ihEB8oB62Af4miGC9xZtmA%3D%3D" class="mading-item" style="text-decoration: none;border: 1px solid #ccc;border-radius: 8px;display: block;padding: 12px;margin-bottom: 16px;position: relative;">
            <div class="mading-logo" style="display: inline-block;position: relative;vertical-align: top;height: 32px;width: 32px;border-radius: 8px;overflow: hidden;margin-right: 8px;margin-top: 6px;">
                <img src="https://i.ibb.co/nmWvPch/Logo-sirclo.png" alt="company-logo" style="width: 32px;vertical-align: middle;position:absolute;top:50%;transform: translateY(-50%);">
            </div>
            <div class="text" style="max-width: 70%;display: inline-block;">
                <h3 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 16px;font-weight: bold;color: #000;">Software Engineer Intern</h3>
                <p class="author" style="font-family: 'Varela Round', sans-serif;font-size: 14px;line-height: 160%;margin: 0;color: #666;margin-top: 6px;">Sirclo •  Jakarta (WFH)</p>
            </div>
        </a>        
        
        <a ses:tags='jenis:magang;nama:operations_intern;organization:flash_coffee;' href="https://www.linkedin.com/jobs/view/3145049876/?alternateChannel=search&refId=0xruCfHq5vSRbtp5b3VsLg%3D%3D&trackingId=1pyfIW1i45ikPQS6JP7p9A%3D%3D" class="mading-item" style="text-decoration: none;border: 1px solid #ccc;border-radius: 8px;display: block;padding: 12px;margin-bottom: 16px;position: relative;">
            <div class="mading-logo" style="display: inline-block;position: relative;vertical-align: top;height: 32px;width: 32px;border-radius: 8px;overflow: hidden;margin-right: 8px;margin-top: 6px;">
                <img src="https://i.ibb.co/pwSPmtR/flash-coffee.jpg" alt="company-logo" style="width: 32px;vertical-align: middle;position:absolute;top:50%;transform: translateY(-50%);">
            </div>
            <div class="text" style="max-width: 70%;display: inline-block;">
                <h3 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 16px;font-weight: bold;color: #000;">Operations Intern</h3>
                <p class="author" style="font-family: 'Varela Round', sans-serif;font-size: 14px;line-height: 160%;margin: 0;color: #666;margin-top: 6px;">Flash Coffee •  Jakarta (WFH)</p>
            </div>
        </a>        
        
        <a ses:tags='jenis:magang;nama:chinese_speaking_research_intern;organization:polixis;' href="https://www.linkedin.com/jobs/view/3148540843/?alternateChannel=search&refId=0xruCfHq5vSRbtp5b3VsLg%3D%3D&trackingId=QZZ7eHo0wOdXnKn15t6LnQ%3D%3D" class="mading-item" style="text-decoration: none;border: 1px solid #ccc;border-radius: 8px;display: block;padding: 12px;margin-bottom: 16px;position: relative;">
            <div class="mading-logo" style="display: inline-block;position: relative;vertical-align: top;height: 32px;width: 32px;border-radius: 8px;overflow: hidden;margin-right: 8px;margin-top: 6px;">
                <img src="https://i.ibb.co/N7y46fG/polixis.jpg" alt="company-logo" style="width: 32px;vertical-align: middle;position:absolute;top:50%;transform: translateY(-50%);">
            </div>
            <div class="text" style="max-width: 70%;display: inline-block;">
                <h3 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 16px;font-weight: bold;color: #000;">Chinese Speaking Research Intern</h3>
                <p class="author" style="font-family: 'Varela Round', sans-serif;font-size: 14px;line-height: 160%;margin: 0;color: #666;margin-top: 6px;">Polixis •  Jakarta (WFH)</p>
            </div>
        </a>        
        
                            
                            <h1 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 24px;font-weight: bold;margin-bottom: 8px;">Lomba</h1>
                                
        <a ses:tags='jenis:lomba;nama:marketing_plan_competition;organization:ima_sc_undip;' href="https://linktr.ee/todaysmarketing" class="mading-item" style="text-decoration: none;border: 1px solid #ccc;border-radius: 8px;display: block;padding: 12px;margin-bottom: 16px;position: relative;">
            <div class="mading-logo" style="display: inline-block;position: relative;vertical-align: top;height: 32px;width: 32px;border-radius: 8px;overflow: hidden;margin-right: 8px;margin-top: 6px;">
                <img src="https://i.ibb.co/DGXDDL9/IMA-SC-Undip.png" alt="company-logo" style="width: 32px;vertical-align: middle;position:absolute;top:50%;transform: translateY(-50%);">
            </div>
            <div class="text" style="max-width: 70%;display: inline-block;">
                <h3 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 16px;font-weight: bold;color: #000;">Marketing Plan Competition</h3>
                <p class="author" style="font-family: 'Varela Round', sans-serif;font-size: 14px;line-height: 160%;margin: 0;color: #666;margin-top: 6px;">IMA SC Undip • Pengumpulan: 13 Juli 2022</p>
            </div>
        </a>        
        
        <a ses:tags='jenis:lomba;nama:lkti_nasional;organization:permatep_in_action_xii;' href="https://docs.google.com/forms/u/1/d/e/1FAIpQLSf6Ht5F0lLs2f65OjhJ-_I1aGThSwSToYf92Hl6pXY4ZyChww/viewform?usp=sf_link" class="mading-item" style="text-decoration: none;border: 1px solid #ccc;border-radius: 8px;display: block;padding: 12px;margin-bottom: 16px;position: relative;">
            <div class="mading-logo" style="display: inline-block;position: relative;vertical-align: top;height: 32px;width: 32px;border-radius: 8px;overflow: hidden;margin-right: 8px;margin-top: 6px;">
                <img src="https://i.ibb.co/TqTx6CN/permatep-in-action-2022.png" alt="company-logo" style="width: 32px;vertical-align: middle;position:absolute;top:50%;transform: translateY(-50%);">
            </div>
            <div class="text" style="max-width: 70%;display: inline-block;">
                <h3 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 16px;font-weight: bold;color: #000;">LKTI Nasional</h3>
                <p class="author" style="font-family: 'Varela Round', sans-serif;font-size: 14px;line-height: 160%;margin: 0;color: #666;margin-top: 6px;">PERMATEP In Action XII • Pengumpulan: 25 Juli 2022</p>
            </div>
        </a>        
        
        <a ses:tags='jenis:lomba;nama:essay_and_poster_competition_(epco)_2022;organization:creation_undip;' href="https://www.creation.undip.ac.id/" class="mading-item" style="text-decoration: none;border: 1px solid #ccc;border-radius: 8px;display: block;padding: 12px;margin-bottom: 16px;position: relative;">
            <div class="mading-logo" style="display: inline-block;position: relative;vertical-align: top;height: 32px;width: 32px;border-radius: 8px;overflow: hidden;margin-right: 8px;margin-top: 6px;">
                <img src="https://i.ibb.co/5rmRnQX/creationundip.jpg" alt="company-logo" style="width: 32px;vertical-align: middle;position:absolute;top:50%;transform: translateY(-50%);">
            </div>
            <div class="text" style="max-width: 70%;display: inline-block;">
                <h3 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 16px;font-weight: bold;color: #000;">Essay and Poster Competition (EPCo) 2022</h3>
                <p class="author" style="font-family: 'Varela Round', sans-serif;font-size: 14px;line-height: 160%;margin: 0;color: #666;margin-top: 6px;">Creation Undip • Pengumpulan: 19 Juli 2022</p>
            </div>
        </a> 

        <a ses:tags='jenis:lomba;nama:business_plan_competition_2022;organization:himpunan_mahasiswa_program_studi_manajemen_universitas_kristen_duta_wacana;' href="https://docs.google.com/forms/d/e/1FAIpQLSdZrlFoXrbjUJIpFnQfQnUlU-9awouQoG7N76bZgNykQutIjA/viewform?usp=sf_link&utm_source=BPCUKDW2022&utm_medium=BPCUKDW2022&utm_campaign=BPCUKDW2022" class="mading-item" style="text-decoration: none;border: 1px solid #ccc;border-radius: 8px;display: block;padding: 12px;margin-bottom: 16px;position: relative;">
            <div class="mading-logo" style="display: inline-block;position: relative;vertical-align: top;height: 32px;width: 32px;border-radius: 8px;overflow: hidden;margin-right: 8px;margin-top: 12px;">
                <img src="https://i.ibb.co/Jp6b90k/himpunan-mahasiswa-program-studi-manajemen-universitas-kristen-duta-wacana.png" alt="Himpunan Mahasiswa Program Studi Manajemen Universitas Kristen Duta Wacana-logo" style="width: 32px;vertical-align: middle;position:absolute;top:50%;transform: translateY(-50%);">
            </div>
            <div class="text" style="max-width: 70%;display: inline-block;">
                <h3 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 16px;font-weight: bold;color: #000;">Business Plan Competition 2022</h3>
                <p class="author" style="font-family: 'Varela Round', sans-serif;font-size: 14px;line-height: 160%;margin: 0;color: #666;margin-top: 6px;">Himpunan Mahasiswa Program Studi Manajemen Universitas Kristen Duta Wacana • Pengumpulan: 18 Juli 2022</p>
            </div>
        </a>        
        
        <a ses:tags='jenis:lomba;nama:english_festival_2022;organization:eecc_feb_undip;' href="https://linktr.ee/EFEST_2022" class="mading-item" style="text-decoration: none;border: 1px solid #ccc;border-radius: 8px;display: block;padding: 12px;margin-bottom: 16px;position: relative;">
            <div class="mading-logo" style="display: inline-block;position: relative;vertical-align: top;height: 32px;width: 32px;border-radius: 8px;overflow: hidden;margin-right: 8px;margin-top: 12px;">
                <img src="https://i.ibb.co/9htd4mD/9dar-Co-X3-400x400.jpg" alt="EECC FEB Undip-logo" style="width: 32px;vertical-align: middle;position:absolute;top:50%;transform: translateY(-50%);">
            </div>
            <div class="text" style="max-width: 70%;display: inline-block;">
                <h3 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 16px;font-weight: bold;color: #000;">English Festival 2022</h3>
                <p class="author" style="font-family: 'Varela Round', sans-serif;font-size: 14px;line-height: 160%;margin: 0;color: #666;margin-top: 6px;">EECC FEB Undip • Pengumpulan: 26 Juli 2022</p>
            </div>
        </a>        
        
        <a ses:tags='jenis:lomba;nama:business_model_canvas_(bmc)_active_(accounting_society_in_versality)_2022;organization:himpunan_mahasiswa_jurusan_akuntansi_feb_uns;' href="https://docs.google.com/forms/d/e/1FAIpQLSc9qU2y8FWAD9pHG3dxtnWnTuCrEzq-elyCKl_wRnR0jWeWkA/viewform" class="mading-item" style="text-decoration: none;border: 1px solid #ccc;border-radius: 8px;display: block;padding: 12px;margin-bottom: 16px;position: relative;">
            <div class="mading-logo" style="display: inline-block;position: relative;vertical-align: top;height: 32px;width: 32px;border-radius: 8px;overflow: hidden;margin-right: 8px;margin-top: 12px;">
                <img src="https://i.ibb.co/LxJv13L/cropped-eecc-transparan-1.png" alt="Himpunan Mahasiswa Jurusan Akuntansi FEB UNS-logo" style="width: 32px;vertical-align: middle;position:absolute;top:50%;transform: translateY(-50%);">
            </div>
            <div class="text" style="max-width: 70%;display: inline-block;">
                <h3 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 16px;font-weight: bold;color: #000;">Business Model Canvas (BMC) ACTIVE (Accounting Society in Versality) 2022</h3>
                <p class="author" style="font-family: 'Varela Round', sans-serif;font-size: 14px;line-height: 160%;margin: 0;color: #666;margin-top: 6px;">Himpunan Mahasiswa Jurusan Akuntansi FEB UNS • Pengumpulan: 17 Juli 2022</p>
            </div>
        </a>  
        

                            <h1 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 24px;font-weight: bold;margin-bottom: 8px;">Beasiswa</h1>
                                
        <a ses:tags='jenis:beasiswa;nama:digital_talent_scholarship_2022_-_professional_academy_(proa);organization:kominfo;' href="https://digitalent.kominfo.go.id/detail/akademi/152" class="mading-item" style="text-decoration: none;border: 1px solid #ccc;border-radius: 8px;display: block;padding: 12px;margin-bottom: 16px;position: relative;">
            <div class="mading-logo" style="display: inline-block;position: relative;vertical-align: top;height: 32px;width: 32px;border-radius: 8px;overflow: hidden;margin-right: 8px;margin-top: 6px;">
                <img src="https://i.ibb.co/CP6Ryy0/kominfo.png" alt="company-logo" style="width: 32px;vertical-align: middle;position:absolute;top:50%;transform: translateY(-50%);">
            </div>
            <div class="text" style="max-width: 70%;display: inline-block;">
                <h3 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 16px;font-weight: bold;color: #000;">Digital Talent Scholarship 2022 - Professional Academy (PROA)</h3>
                <p class="author" style="font-family: 'Varela Round', sans-serif;font-size: 14px;line-height: 160%;margin: 0;color: #666;margin-top: 6px;">Kominfo • Pengumpulan: 14 Juli 2022</p>
            </div>
        </a>        
        
        <a ses:tags='jenis:beasiswa;nama:ai4impact_career_scholarship_2022;organization:ai4impact;' href="https://www.ai4impact.org/careerscholarship" class="mading-item" style="text-decoration: none;border: 1px solid #ccc;border-radius: 8px;display: block;padding: 12px;margin-bottom: 16px;position: relative;">
            <div class="mading-logo" style="display: inline-block;position: relative;vertical-align: top;height: 32px;width: 32px;border-radius: 8px;overflow: hidden;margin-right: 8px;margin-top: 6px;">
                <img src="https://i.ibb.co/VTHnTB5/a14impact.jpg" alt="company-logo" style="width: 32px;vertical-align: middle;position:absolute;top:50%;transform: translateY(-50%);">
            </div>
            <div class="text" style="max-width: 70%;display: inline-block;">
                <h3 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 16px;font-weight: bold;color: #000;">AI4IMPACT Career Scholarship 2022</h3>
                <p class="author" style="font-family: 'Varela Round', sans-serif;font-size: 14px;line-height: 160%;margin: 0;color: #666;margin-top: 6px;">AI4IMPACT • Pengumpulan: 11 Juli 2022</p>
            </div>
        </a>       

        <a ses:tags='jenis:beasiswa;nama:beasiswa_linimuda_2022;organization:linimuda_x_myskill;' href="https://myskill.id/bootcamp?search=beasiswa" class="mading-item" style="text-decoration: none;border: 1px solid #ccc;border-radius: 8px;display: block;padding: 12px;margin-bottom: 16px;position: relative;">
            <div class="mading-logo" style="display: inline-block;position: relative;vertical-align: top;height: 32px;width: 32px;border-radius: 8px;overflow: hidden;margin-right: 8px;margin-top: 12px;">
                <img src="https://i.ibb.co/nzczj1w/liniMuda.png" alt="liniMuda x MySkill-logo" style="width: 32px;vertical-align: middle;position:absolute;top:50%;transform: translateY(-50%);">
            </div>
            <div class="text" style="max-width: 70%;display: inline-block;">
                <h3 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 16px;font-weight: bold;color: #000;">Beasiswa LiniMuda 2022</h3>
                <p class="author" style="font-family: 'Varela Round', sans-serif;font-size: 14px;line-height: 160%;margin: 0;color: #666;margin-top: 6px;">liniMuda x MySkill • Pengumpulan: 31 Agustus 2022</p>
            </div>
        </a>     
        

                            <h1 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 24px;font-weight: bold;margin-bottom: 8px;">Open Recruitment</h1>
                                
        <a ses:tags='jenis:oprec;nama:staff_recruitment;organization:mewina_bakery;' href="https://docs.google.com/forms/u/0/d/1QajkcSAr2tx5BxzMPx5kIdi7lFymGpuKDN4IhLK0Lnw/viewform?edit_requested=true" class="mading-item" style="text-decoration: none;border: 1px solid #ccc;border-radius: 8px;display: block;padding: 12px;margin-bottom: 16px;position: relative;">
            <div class="mading-logo" style="display: inline-block;position: relative;vertical-align: top;height: 32px;width: 32px;border-radius: 8px;overflow: hidden;margin-right: 8px;margin-top: 6px;">
                <img src="https://i.ibb.co/2qbzCHZ/mewina-bakery.jpg" alt="company-logo" style="width: 32px;vertical-align: middle;position:absolute;top:50%;transform: translateY(-50%);">
            </div>
            <div class="text" style="max-width: 70%;display: inline-block;">
                <h3 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 16px;font-weight: bold;color: #000;">Staff Recruitment</h3>
                <p class="author" style="font-family: 'Varela Round', sans-serif;font-size: 14px;line-height: 160%;margin: 0;color: #666;margin-top: 6px;">Mewina Bakery •  WFH</p>
            </div>
        </a>        
        
        <a ses:tags='jenis:oprec;nama:online_campaign_volunteer;organization:para.teers;' href="https://docs.google.com/forms/d/e/1FAIpQLSfszAllKb7oY6PUnjrFkF0l12H8ABofH6mlbLlpzrWMFKdASA/viewform" class="mading-item" style="text-decoration: none;border: 1px solid #ccc;border-radius: 8px;display: block;padding: 12px;margin-bottom: 16px;position: relative;">
            <div class="mading-logo" style="display: inline-block;position: relative;vertical-align: top;height: 32px;width: 32px;border-radius: 8px;overflow: hidden;margin-right: 8px;margin-top: 6px;">
                <img src="https://i.ibb.co/7GphSJC/para-teens.jpg" alt="company-logo" style="width: 32px;vertical-align: middle;position:absolute;top:50%;transform: translateY(-50%);">
            </div>
            <div class="text" style="max-width: 70%;display: inline-block;">
                <h3 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 16px;font-weight: bold;color: #000;">Online Campaign Volunteer</h3>
                <p class="author" style="font-family: 'Varela Round', sans-serif;font-size: 14px;line-height: 160%;margin: 0;color: #666;margin-top: 6px;">Para.Teers •  WFH</p>
            </div>
        </a>        
        
        <a ses:tags='jenis:oprec;nama:staff_recruitment;organization:podcast_somestory;' href="https://forms.gle/eqvEigFhUf4HUgG77" class="mading-item" style="text-decoration: none;border: 1px solid #ccc;border-radius: 8px;display: block;padding: 12px;margin-bottom: 16px;position: relative;">
            <div class="mading-logo" style="display: inline-block;position: relative;vertical-align: top;height: 32px;width: 32px;border-radius: 8px;overflow: hidden;margin-right: 8px;margin-top: 6px;">
                <img src="https://i.ibb.co/HzQS3Kw/podcast-somestory.jpg" alt="company-logo" style="width: 32px;vertical-align: middle;position:absolute;top:50%;transform: translateY(-50%);">
            </div>
            <div class="text" style="max-width: 70%;display: inline-block;">
                <h3 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 16px;font-weight: bold;color: #000;">Staff Recruitment</h3>
                <p class="author" style="font-family: 'Varela Round', sans-serif;font-size: 14px;line-height: 160%;margin: 0;color: #666;margin-top: 6px;">Podcast_Somestory •  WFH</p>
            </div>
        </a>        
        
        <a ses:tags='jenis:oprec;nama:staff_recruitment;organization:tuneintalk;' href="https://docs.google.com/forms/d/e/1FAIpQLSdcKOJXzgIfcwisUew85Rp_kv2vKFz9yciYQXaWik17UlpAHA/viewform" class="mading-item" style="text-decoration: none;border: 1px solid #ccc;border-radius: 8px;display: block;padding: 12px;margin-bottom: 16px;position: relative;">
            <div class="mading-logo" style="display: inline-block;position: relative;vertical-align: top;height: 32px;width: 32px;border-radius: 8px;overflow: hidden;margin-right: 8px;margin-top: 6px;">
                <img src="https://i.ibb.co/SvbYJBt/tuneintalk.jpg" alt="company-logo" style="width: 32px;vertical-align: middle;position:absolute;top:50%;transform: translateY(-50%);">
            </div>
            <div class="text" style="max-width: 70%;display: inline-block;">
                <h3 style="font-family: 'Overpass', sans-serif;margin: 0;font-size: 16px;font-weight: bold;color: #000;">Staff Recruitment</h3>
                <p class="author" style="font-family: 'Varela Round', sans-serif;font-size: 14px;line-height: 160%;margin: 0;color: #666;margin-top: 6px;">Tuneintalk •  WFH</p>
            </div>
        </a>        
        
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>    

    <tr class="table-row" style="display: block;margin: 20px auto;">
        <td width="600px" style="font-family: 'Varela Round', sans-serif;font-size: 14px;display: block;margin: 0 auto;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" class="container-mail block padding-20" style="background: white;overflow: hidden;border-radius: 8px;padding: 20px;display: block;width: 100%;">
                <tr>
                    <td class="survey" style="font-family: 'Varela Round', sans-serif;font-size: 14px;width: 100%;display: block;margin: 0 auto;">
                        <h1 style="text-align: center;font-family: 'Overpass', sans-serif;margin: 0;font-size: 24px;font-weight: bold;">
                            Bantu kami tingkatin konten FlashCampus, yuk!
                        </h1>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSevJMPwu0vl4QONMoPh72itmOy6VEB8ra4rdyFikQH7vZL1Tg/viewform?usp=send_form" class="button" style="margin-top: 16px;padding: 16px;font-size: 20px;font-weight: 900;border-radius: 12px;background: rgb(255, 92, 0);color: white;text-decoration: none;display: block;text-align: center;transition: all 300ms;">Isi Survey</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr class="table-row" style="display: block;margin: 20px auto;">
        <td width="600px" style="font-family: 'Varela Round', sans-serif;font-size: 14px;display: block;margin: 0 auto;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" class="container-mail block padding-324 footer" style="background: white;overflow: hidden;border-radius: 8px;padding: 30px 24px;color: #999;display: block;width: 100%;">
                <tr class="body"></tr>
                <tr class="body-image" align="center">
                    <td class="center" style="font-family: 'Varela Round', sans-serif;font-size: 14px;display: block;margin: 0 auto;">
                        <h4 style="font-family: 'Overpass', sans-serif;margin: 0;">Kunjungi sosial media Flashcampus</h4>
                    </td>
                </tr>

                <tr align="center">
                    <td style="display: inline-block;margin: 16px 15px 0 15px;font-family: 'Varela Round', sans-serif;font-size: 14px;">
                        <a href="https://twitter.com/FlashCampus" target="_blank">
                            <img src="https://i.ibb.co/kcXVN8S/bxl-twitter.png" width="32px" alt="" class="logo-img">
                        </a>
                    </td>
                    <td style="display: inline-block;margin: 16px 15px 0 15px;font-family: 'Varela Round', sans-serif;font-size: 14px;">
                        <a href="https://www.instagram.com/flashcampus/" target="_blank">
                            <img src="https://i.ibb.co/P66WcBh/bxl-instagram-alt.png" width="32px" alt="" class="logo-img">
                        </a>
                    </td>
                    <td style="display: inline-block;margin: 16px 15px 0 15px;font-family: 'Varela Round', sans-serif;font-size: 14px;">
                        <a href="https://vt.tiktok.com/ZSR1Kh77h/" target="_blank">
                            <img src="https://i.ibb.co/VjKtD3w/tiktok.png" width="32px" alt="" class="logo-img">
                        </a>
                    </td>
                </tr>
                <tr align="center">
                    <td style="padding-top: 24px;font-family: 'Varela Round', sans-serif;font-size: 14px;display: block;margin: 0 auto;">
                        <a href="https://flashcampus.framer.website"><img src="https://i.ibb.co/0ZQ765H/fc-logo.png" alt="logo" border="0" height="28px" width="auto"></a>
                    </td>
                </tr>
                <tr align="center">
                    <td style="font-family: 'Varela Round', sans-serif;font-size: 14px;display: block;margin: 0 auto;">
                        <p class="mb-0 mt-0" style="margin-top: 16px;font-size: 12px;color: #989a9f;line-height: 14px;font-family: 'Varela Round', sans-serif;margin: 0;">
                            Dikirim oleh FlashCampus tiap Senin, Rabu, dan Jumat · FlashCampus,
                            Wisata Bukit Mas, Surabaya, Jawa Timur 60213 ·
                            <a style="color: #999" href="https://flashcampus.framer.website/unsubscribe?id={{id}}&&subject=Bagaimana+cara+memilih+organisasi+yang+tepat%3F+%7C+Edisi+004">Unsubscribe</a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>    
